@charset "utf-8";
html, body { overflow-x: hidden; min-width: 320px; margin: 0 auto;/* max-width: 750px;*/}
body {
  padding-bottom:0;;
  color: #333;
  font-family:'Noto', sans-serif;
  font-size: 15px; 
  
  /*
  margin: auto;
  max-width: 767px;
  font: 1.2em/1.3em 'Noto', sans-serif;
  */
}
.container {/*max-width: 750px;*/}
/*a {color: #333;}*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {/*font-family:'NanumSquare'; font-weight: 600;*/}
.container-fluid>.navbar-collapse, 
.container-fluid>.navbar-header, 
.container>.navbar-collapse, 
.container>.navbar-header {padding: 0; margin: 0;}
.collapse {padding: 0; margin: 0;}
.collapse.in {padding: 0; margin: 0;}
.navbar-nav {padding: 0; margin: 0; background-color: #fff; min-width: 320px;}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/*.desktop {display: none;}
.breadcrumb {display: none;}*/
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
  background-color: #fff;
  min-width: 320px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
  /*max-width: 767px;
  margin: auto;*/
}
.navbar-wrapper .navbar {
  padding: 0;
  background-color: #fff;
  height: 56px;
  margin: 0 auto;
  /*max-width: 750px;*/
}
.navbar-wrapper .navbar .container {
 margin: 0; padding: 0; /*width: auto; */ }
.navbar-brand {
    float: left;
    height: 56px;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
}
.top-util {}
.social-icons { display: none; position: fixed; z-index: 1001; width: 100%; height: 40px; min-width: 320px; background-color: #735bff; top: 56px; padding: 5px 10px; text-align: center; border-bottom: solid 1px #8f7cff}
.social-icons ul  { display: inline-block; width: auto; }
.social-icons li > a  { padding:  5px 10px;font-size: 15px;line-height: 1.2;border-radius: 0;}
.social-icons .nav.nav-pills li > a:hover  { background-color: #624ce4; color: #fff; border-radius: 15px }
.social-icons .btn .fa  { color: #fff;}
.navbar-brand>img {height: auto; max-height: 30px;}
.navbar-toggle {
   /* position: relative;
    float: right;
    padding: 18px 15px;
    margin: 0;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;*/
}
.navbar-nav>li>a { border-bottom: solid 1px #eee; font-size: 15px; padding: 15px;}
/*.navbar-inverse {border: none;}*/
.navbar-toggle {border: none;}
.navbar-toggle .icon-bar {  display: block; width: 24px; height: 3px; border-radius: 1px; background-color: #000; transition: .3s all ease;}
.navbar-toggle .icon-bar:nth-child(2) {  margin-top: 8px; webkit-transform: rotate3d(0, 0, 1, 45deg); transform: rotate3d(0, 0, 1, 45deg);}
.navbar-toggle .icon-bar:nth-child(3) {  margin-top: -3px; webkit-transform: rotate3d(0, 0, 1, -45deg); transform: rotate3d(0, 0, 1, -45deg);}
.navbar-toggle .icon-bar:last-child {display: none;}
.navbar-toggle.collapsed .icon-bar {transform: rotate(0); margin:0; }
.navbar-toggle.collapsed .icon-bar+.icon-bar {margin-top: 5px;}
.navbar-toggle.collapsed .icon-bar:last-child {display: block; width: 16px;position: relative; }
.navbar-toggle.collapsed .icon-bar:last-child:after {position: absolute; content:''; display: inline-block; width: 4px; height: 4px; background-color: #735BFF; border-radius: 50%; right: -8px;}
.navbar-toggle:focus, 
.navbar-toggle:hover { background-color: #fff;}
.container-fluid>.navbar-collapse, 
.container-fluid>.navbar-header, 
.container>.navbar-collapse, 
.container>.navbar-header {margin: 0;}
.navbar-nav>li>a i.fa{ position: absolute; right: 20px; top: 14px; color: #735BFF}
.navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover { color: #000; background-color: #eee;}
.navbar-nav>.active>a, 
.navbar-nav>.active>a:focus, 
.navbar-nav>.active>a:hover {background-color:rgba(115, 91, 255, 0.05); color: #735BFF;/*background-color: #735BFF;*/ }
.navbar-collapse { background-color: #fff; margin: 0; }
.navbar-collapse, 
.navbar-form {/*margin: 0; border: none; background-color: rgba(0, 0, 0, 0.5);*/}
/*.collapse {padding: 0; margin: 0; position: fixed; width: 100%; left: 0; right: 0; border-top: solid 1px #eee;}
.collapse.in { padding: 0; margin: 0; height: 100%; }*/
.container .navbar-collapse {   position: fixed; width: 100%; left: 0; right: 0; top:55px; bottom: 0;  border-top: solid 1px #eee; padding:0; margin:0; padding-top: 40px;  background-color: rgba(0, 0, 0, 0.5);}
/* 하단 */
footer{padding: 30px 15px 15px; margin-top: 30px; background-color: #f8f8f8;/* border-top: solid 1px #ddd; */}
.copyaddress { margin: auto; overflow: hidden; /*margin-top: 15px;*/}
.copyaddress ul{ padding:0;}
.copyaddress li{ list-style: none; font-size: 11px; }
.copyaddress li > span { font-weight: 500;}
.copyaddress li:last-child{ margin-top: 10px;}
.copyaddress .col{ padding: 0;}
.copyaddress a,
.copyaddress a:focus,
.copyaddress a:hover{ color: #767676;}
/*.pull-right { position: fixed; right: 20px; bottom: 20px; }
.pull-right a { font-size: 15px; display: inline-block; height: 30px; width: 30px; background-color: #eee; border-radius: 50%; text-align: center; line-height: 30px; font-size: 11px;  color: #735BFF}*/
/* 기타 리셋 */
.overflow { overflow: hidden; }
.text {font-size: 15px; line-height: 1.3em;}
.text2 {font-size: 15px; line-height: 1.3em; font-weight: bold;}
.text.sm {font-size: 13px; line-height: 1.3em;}
.text.md {font-size: 18px; line-height: 1.3em;}
.text.lg {font-size: 24px; line-height: 1.3em;}
/* 메인 */
/* 메인 : 비쥬얼 배너  */
.carousel {height: 266px;margin-top: 56px;margin-bottom: 0;}
.carousel-indicators { margin-left: 30px; left: 0; width: auto;  }
.carousel-indicators li { background-color: rgba(0,0,0,0.1); border: none; /*border: solid 1px #ddd; */}
.carousel-indicators li.active { background-color: rgba(0,0,0,0.5);}
.carousel-control.left,
.carousel-control.right {background-image : none; display: none;}
.carousel .item { height: 266px; background-color: #fff;}
.carousel .item.item01 {background-image: url("../img/main-bg.png"); background-size: auto; background-repeat: no-repeat; background-position: -100px -100px;}
.carousel .item.item02 {background-color: #ffb65b}
.carousel .item.item03 {background-color: #26d7ff}
/*.carousel .item.item01 {background-color: #735BFF}
.carousel .item.item02 {background-color: #01d6d6}
.carousel .item.item03 {background-color: #00adff}*/
.carousel-inner > .item > img { position: absolute; top: auto; right: 0; bottom:0; height: 257px;}
.carousel-inner > .item.item01 > img { }
.carousel-caption { top:0; left: 0; z-index: 10; width: 100%; text-align: left; padding: 0 30px; text-shadow: none; color: #333;}
.carousel-caption h1 { font-size: 42px;}
.carousel-caption h1 span {display: inline-block; width: 100%; float: left; font-size: 16px; }
.carousel-caption h1 strong {float: left; width: 100%; line-height: 1.2em; }
.carousel-caption h1 + p { float:left; margin-top: 10px;}
.carousel .item.item01 .carousel-caption h1 strong { color: #735BFF}
.carousel .item.item02 .carousel-caption h1 strong { font-size: 28px; color: #fff;}
/* 메인 : 바로가기 메뉴  -------------------------------------------------- */
.main-menu { margin: 15px 0; padding: 0; overflow: hidden;}
.main-menu .col-xs-4 { padding:0 ; position: relative; min-width: 90px; border: solid 1px #eee;}
.main-menu .col-xs-4:after {content:''; display: block; padding-bottom: 100%}
.main-menu .icon-box-vertical { position: absolute; display: inline-block;width: 100%;height: 100%;;text-align: center;  color: #735BFF; left: 0; top: 0; }
.main-menu .icon-box-vertical .icon-box-header {font-size: 14px;  vertical-align: middle; text-decoration: none; color: #333; position: absolute; left:0; top: 50%; width: 100%; margin-bottom: 0; margin-top: 5px; }
.main-menu .icon-box-vertical i {position: absolute; left:0;  bottom: 50%; width: 100%; font-size: 32px; color: #735BFF; }
.main-menu .col-xs-4:nth-child(3) .icon-box-header,
.main-menu .col-xs-4:nth-child(4) .icon-box-header {margin-top: 12px;}

.main-menu .col-xs-4:nth-child(4),
.main-menu .col-xs-4:nth-child(5),
.main-menu .col-xs-4:nth-child(6) {border-color:#fff #eee #eee #eee;}

.main-menu .col-xs-4:nth-child(2),
.main-menu .col-xs-4:nth-child(3),
.main-menu .col-xs-4:nth-child(5),
.main-menu .col-xs-4:nth-child(6) {border-color:#eee #eee #eee #fff;}
/* 메인 : 유관기관 바로가기 */
.gg-relate {width: 100%; border: solid 1px #ddd;}
.gg-relate .input-group-btn { width: 100%; }
.gg-relate .input-group-btn .btn { text-align: left; border-radius: 0; border: none; height: 34px; font-size: 15px; }
.gg-relate .input-group-btn .btn .caret { float: right; margin-top: 10px;}
.gg-relate .input-group-btn .dropdown-menu { width: 100%; border-radius: 0; height: 34px; padding: 0;}
.gg-relate .input-group-btn .dropdown-menu > li > a { padding : 0 10px;line-height: 34px;}
.gg-relate .dropdown-toggle { width: 100%;}
.gg-relate > .btn { border:none; background-color: #eee; border-radius: 0; height: 34px;}

/* 서브  */
.container.content-wrapper { margin-top: 56px; }
/*.container.content-wrapper > h1 { margin-top: 30px; margin-bottom: 30px; }*/
.page-header { border-bottom: none; padding-top: 30px; padding-bottom: 20px; margin:0; overflow: hidden;}
.page-header .title { margin:0; }
.page-header .title .fa {float: left; margin-right: 5px; width: 26px; height: 26px; text-align: center; color: #735bff; background-color: #eee; border-radius: 50%;font-size: 20px;/* border: solid 1px #eee; */}
.breadcrumb {display: none;}
.container.content-wrapper .page-header h1 .fa:before { line-height: 26px; }
h1.title { font-size: 24px; font-weight: 500; color: #000;}
h2.title { font-size: 18px; font-weight: 500; color: #735BFF; position: relative; margin-bottom: 20px;}
h2.title2 { font-size: 18px; font-weight: 500; color: #22566e; position: relative;}
h2.title:after {content:''; position: absolute; left:3px; bottom:-10px;  width: 10px; height: 2px; background-color: #000; border-radius: 1px; }
h3.title { font-size: 15px; color: #000;  }
.title.st01 {  }
.title.st01:after {  }
/* 서브 : 이렇게 이용하세요.  */
/*.btn {border-radius: 0;}
.btn-primary {background-color: #735BFF; border-color: #735BFF;}*/
/* form */
.form-wrap .divider {/*border-top: solid 1px #ccc;*/}
/* 파일첨부 */
.filebox:before,
.filebox:after { content:''; clear: both; }
.filebox input[type="file"] { 
  position: absolute; 
  width: 1px; 
  height: 1px; 
  padding: 0; 
  margin: -1px; 
  overflow: hidden; 
  clip:rect(0,0,0,0); border: 0; 
} 
.filebox label { 
  display: inline-block; 
  /*padding: .5em .75em; 
  font-size: inherit; 
  line-height: normal;
  border: 1px solid #ebebeb; */
  font-weight: normal;
  color: #fff; 
  vertical-align: middle; 
  background-color: #78849e; 
  cursor: pointer; 
  border-bottom-color: #e2e2e2; 
  border-radius: 0; 
  margin-bottom: 0;
  width: 70px;
  height: 34px;
  line-height: 32px;
  float: right;
  text-align: center;
  
} 
/* named upload */ 
.filebox .upload-name { 
  display: inline-block; 
  padding: .5em .75em; /* label의 패딩값과 일치 */ 
 /* font-size: inherit; 
  font-family: inherit;
  line-height: normal;  */
  vertical-align: middle; 
  background-color: #f0f9ff; 
  border: 1px solid #e3e8f0; 
  /*border-bottom-color: #e2e2e2; */
  border-radius: 0; 
  -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
  -moz-appearance: none; 
  appearance: none;
  width: calc(100% - 70px);
  height: 34px;
  line-height: 34px;
  float: left;
  margin-bottom: 5px;
}


/* .table */
.vt {vertical-align: top !important;}
.vm {vertical-align: middle !important;}
.vb {vertical-align: bottom !important;}
.table-wrap { border-top: solid 1px #735BFF; }
.table-wrap.write {}
.table-wrap.view  {  }
.table-wrap .table-condensed {border-bottom: solid 1px #ddd;}
.table-wrap .table-condensed>tbody>tr>td, 
.table-wrap .table-condensed>tbody>tr>th, 
.table-wrap .table-condensed>tfoot>tr>td, 
.table-wrap .table-condensed>tfoot>tr>th, 
.table-wrap .table-condensed>thead>tr>td, 
.table-wrap .table-condensed>thead>tr>th{ padding: 8px 5px;}
.table-wrap.row {margin:0;}
.table-wrap.write.row th {vertical-align: middle;}
.table-wrap .table-condensed th { background-color: #f8f8f8; /*vertical-align: middle; height: 45px;*/ }
.table-wrap .table-condensed th.vt {/*vertical-align: top; padding-top: 12px;*/}
/* 간편한 심리검사 */
.quick-question {}
.quick-question ul {padding: 0;}
.quick-question li { position: relative; list-style: none; margin-bottom: 10px;padding: 10px 15px; min-height: 120px;  border: solid 1px #735bff; box-shadow: 0 5px 10px rgba(0, 0, 0, .05);  /* background-color: #f8f8f8; border-radius: 5px; */}
.quick-question .title {margin-top: 5px; margin-bottom: 10px; color: #333;}
.quick-question .btn {position: absolute; left: 15px; bottom: 15px; border-radius: 0; }
.quick-question li:after{ position: absolute; right: 15px; bottom: 0; content:''; display: inline-block; width: 100px; height: 100px; background-image: url("../img/ic_part.png"); background-size: 100%; background-position-x: 8px;}
/*
.quick-question li:nth-child(1){border-top: solid 3px #9e8c6e;}
.quick-question li:nth-child(2){border-top: solid 3px #fba835;}
.quick-question li:nth-child(3){border-top: solid 3px #8273d8;}
.quick-question li:nth-child(4){border-top: solid 3px #b473d8;}
.quick-question li:nth-child(5){border-top: solid 3px #71d2b7;}
*/
.quick-question li:nth-child(1):after{background-position-y: 15px;}
.quick-question li:nth-child(2):after{background-position-y: -115px;}
.quick-question li:nth-child(3):after{background-position-y: -240px;}
.quick-question li:nth-child(4):after{background-position-y: -360px;}
.quick-question li:nth-child(5):after{background-position-y: -490px;}
/* 맘편한 상담 */
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.panel-style01 { box-shadow: none; /*border: solid 1px #735bff*/}
.panel-style01 .panel-heading { background-color: #735bff; color: #fff; font-size: 24px; text-align: center; border-radius: 608px;}
.quick-tel { display: inline-block;text-align: center; width: 100%; /* position: absolute;*/ }
.quick-tel .btn{  width: 31%; height: 44px; text-align: center; font-size: 14px; border-radius:22px; margin-right: 5px; line-height: 1.2em;color: #fff; border: none;padding-left:0; padding-right: 0; margin: 0; }
.quick-tel .btn .fa{ margin-right: 5px; color: #fff;}
.quick-tel .btn.item01{ background-color: #ea2d2d}
.quick-tel .btn.item02{ background-color: #1bd0e2}
.quick-tel .btn.item03{ background-color: #735bff}
/* 알려드립니다 */
.list_area {
    margin: 0 auto;
    padding: 0 15px;
}
.board_box {
    display: table;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    word-break: break-all;
    word-wrap: break-word;
}
.txt_area {
    display: table-cell;
    width: 100%;
    padding: 12px 0 13px 0;
    text-align: left;
    position: relative;
    box-sizing: border-box;
    float: left;
}
.txt_area .tit {
    font-size: 16px;
    line-height: 19px;
    display: inline;
    font-weight: 500;
    color: #000;
}
.file-area { display: inline-block; width: 100%; float: left; margin-bottom: 15px;}
.icon_new_txt {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: -9px;
    font-size: 17px;
    line-height: 0;
    font-family: Helvetica,Roboto,sans-serif;
    color: #f97575;
}
.user_area {
    margin-top: 4px;
    font-size: 12px;
    line-height: 15px;
    color: #959595;
    display: table;
    position: relative;
}
.user_area .nick {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.user_area .time {
    display: inline-block;
    padding-left: 7px;
    white-space: nowrap;
    vertical-align: middle;
    font-family: Arial,"sans-serif";
}
.link_comment {
    position: relative;
    display: table-cell;
    min-width: 35px;
    padding-left: 5px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
/* 게시물 */

.article-header {margin-bottom: 20px;}
.article-area .user_area{margin-top: 10px;}
.article-area .txt_area .tit {font-size: 18px;}
